{#    引用的#}
   {% load static %}
    <aside id="lonon-aside">
            <!-- Logo -->
            <h1 id="lonon-logo">
                <img src="{{ img_index }}" alt=""><br />
                <a href="{% url 'index' %}">黄前程<span>python Web</span></a>
            </h1>
            <!-- Menu -->
            <nav id="lonon-main-menu">
                <ul>
{#               {% if request.path == '/' %}class="lonon-active"{% endif %} 如果当前路由的网址为... 那么就赋予class样式 #}
{#                {% url 'index' %} 反向解析url#}
                    <li {% if request.path == '/' %}class="lonon-active"{% endif %}><a href="{% url 'index' %}">主页</a></li>
                    <li  {% if request.path == '/resume/' %}class="lonon-active"{% endif %}><a href="{% url 'resume' %}">简历</a></li>
                    <li {% if request.path == '/project/' %}class="lonon-active"{% endif %}><a href="{% url 'project' %}">项目</a></li>
                    <li {% if request.path == '/blog/' %}class="lonon-active"{% endif %}><a href="{% url 'blog' %}">博客</a></li>
                    <li {% if request.path == '/contact/' %}class="lonon-active"{% endif %}><a href="{% url 'contact' %}">联系我们</a></li>
                </ul>
            </nav>
            <!-- Sidebar Footer -->
            <div class="lonon-footer">
                <ul>
                    <li><a href="#"><i class="ti-facebook font-14px gray-icon"></i></a></li>
                    <li><a href="#"><i class="ti-twitter-alt font-14px gray-icon"></i></a></li>
                    <li><a href="#"><i class="ti-instagram font-14px gray-icon"></i></a></li>
                    <li><a href="#"><i class="ti-dribbble font-14px gray-icon"></i></a></li>
                </ul>
                <p><small>&copy; 2019 Lonon. by <a href="http://www.bootstrapmb.com/" title="bootstrapmb">DuruThemes</a></small></p>
            </div>
        </aside>