{% extends "base.html" %}
{% block map %}
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap
        }

        .iw_poi_content {
            font: 12px arial, sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
{% endblock %}
{% block content %}
    {% load static %}

    <!-- Contact -->
    <div class="lonon-contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><span class="heading-meta style-1">位置</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">联系方式</h2></div>
            </div>
            <!-- Map Section-->
            <div class="map-section">
                <div class="row">
                    <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInLeft">
                        <!--百度地图容器-->
                        <div style="width:800px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
                    </div>
                </div>
            </div>
            {% block map_2 %}
                <script type="text/javascript">
                    //创建和初始化地图函数：
                    function initMap() {
                        createMap();//创建地图
                        setMapEvent();//设置地图事件
                        addMapControl();//向地图添加控件
                    }

                    //创建地图函数：
                    function createMap() {
                        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                        var point = new BMap.Point(114.50584, 30.560805);//定义一个中心点坐标
                        map.centerAndZoom(point, 17);//设定地图的中心点和坐标并将地图显示在地图容器中
                        window.map = map;//将map变量存储在全局
                    }

                    //地图事件设置函数：
                    function setMapEvent() {
                        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                        map.enableKeyboard();//启用键盘上下左右键移动地图
                    }

                    //地图控件添加函数：
                    function addMapControl() {
                        //向地图中添加缩放控件
                        var ctrl_nav = new BMap.NavigationControl({
                            anchor: BMAP_ANCHOR_TOP_LEFT,
                            type: BMAP_NAVIGATION_CONTROL_LARGE
                        });
                        map.addControl(ctrl_nav);
                        //向地图中添加缩略图控件
                        var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
                        map.addControl(ctrl_ove);
                        //向地图中添加比例尺控件
                        var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
                        map.addControl(ctrl_sca);
                    }


                    initMap();//创建和初始化地图
                </script>
            {% endblock %}
            <div class="row">
                <!-- Contact Info -->
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInLeft">
                    <h3 class="lonon-about-heading">Contact Info</h3>
                    <p>Qualamy nisl sodales sit amet sapien id, placerat sodales orciter.
                        <br/>Vivamus nec magna rhoncus felis, faucibus printy.</p>
                    <p><b>电话:</b> {{ context_list.phone }}</p>
                    <p><b>邮箱:</b> {{ context_list.email }}</p>
                    <p><b>住址:</b> Camino Real, Palo Alto, CA 94306 US.</p>
                </div>
                <!-- Contact Form -->
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h3 class="lonon-about-heading">How Can I Help You?</h3>
                    <p>We would like to hear from you</p>
                    <form method="post" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="姓名" required></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="邮箱"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                                          placeholder="留言"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-contact" value="Say Hello!"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyCe2q1gFSd75jKUnTDPq0nZWaMlEu6vL30"></script>
    <script src="js/googlemap.js"></script>

{% endblock %}
